<div class="dashboard">

  <!-- PROJECT MODAL -->
  <div class="modal" *ngIf="showProjectModal">

    <div class="modal-box">

      <h2>Create Project</h2>

      <input
        placeholder="Project name"
        [(ngModel)]="newProjectName">

      <textarea
      placeholder="Description"
      [(ngModel)]="newProjectDescription">
      </textarea>

      <div class="modal-actions">

        <button
          class="action-btn"
          (click)="saveProject()">
          Save Project
        </button>

        <button
          class="cancel-btn"
          (click)="closeProjectModal()">
          Close
        </button>

      </div>

    </div>

  </div>

  <!-- TASK MODAL -->
  <div class="modal" *ngIf="showTaskModal">

    <div class="modal-box">

      <h2>Create Task</h2>

      <input
        placeholder="Task title"
        [(ngModel)]="newTaskName">

      <textarea
      placeholder="Description"
      [(ngModel)]="newTaskDescription">
      </textarea>

      <div class="modal-actions">

        <button
          class="action-btn"
          (click)="saveTask()">
          Save Task
        </button>

        <button
          class="cancel-btn"
          (click)="closeTaskModal()">
          Close
        </button>

      </div>

    </div>

  </div>

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo">
      Task<span>Flow</span>
    </div>

    <div class="menu">
      <a>🏠 Dashboard</a>
      <a>📁 Projects</a>
      <a>✅ Tasks</a>
      <a>👥 Team</a>
      <a>⚙️ Settings</a>
    </div>

  </aside>

  <!-- MAIN CONTENT -->
  <main class="content">

    <header class="header">

      <div>
        <h1>Welcome Back 👋</h1>
        <p>Manage your projects efficiently</p>
      </div>

      <div class="user">
        NT
      </div>

    </header>

    <!-- STATS -->
    <section class="stats">

      <div class="card">
        <h3>Total Projects</h3>
        <h2>{{ projects.length }}</h2>
      </div>

      <div class="card">
        <h3>Active Tasks</h3>
        <h2>{{ tasks.length }}</h2>
      </div>

      <div class="card">
        <h3>Completed</h3>
        <h2>32</h2>
      </div>

      <div class="card">
        <h3>Team Members</h3>
        <h2>8</h2>
      </div>

    </section>

    <!-- GRID -->
    <section class="dashboard-grid">

      <!-- PROJECTS -->
      <div class="panel">

        <div class="panel-header">

          <h2>Recent Projects</h2>

          <button
            class="action-btn"
            (click)="openProjectModal()">
            + New Project
          </button>

        </div>

        <div
          class="list-item"
          *ngFor="let project of projects">

          <div>
            <strong>{{ project.name }}</strong>
            <p>{{ project.description }}</p>
          </div>

          <span class="badge active-status">
            {{ project.status }}
          </span>

          <button
             class="edit-btn"
             (click)="editProject(project)">
             ✏️
          </button>

          <button
            class="delete-btn"
            (click)="deleteProject(project.id)">
            🗑️
          </button>

        </div>

      </div>

      <!-- PROGRESS -->
      <div class="panel">

        <h2>Project Progress</h2>

        <div class="progress-item">
          <span>E-Commerce Platform</span>
          <span>80%</span>
        </div>

        <div class="progress-bar">
          <div class="progress-fill" style="width:80%"></div>
        </div>

        <div class="progress-item">
          <span>Task Management App</span>
          <span>60%</span>
        </div>

        <div class="progress-bar">
          <div class="progress-fill" style="width:60%"></div>
        </div>

        <div class="progress-item">
          <span>Portfolio Website</span>
          <span>100%</span>
        </div>

        <div class="progress-bar">
          <div class="progress-fill" style="width:100%"></div>
        </div>

      </div>

      <!-- ACTIVITY -->
      <div class="panel">

        <h2>Recent Activity</h2>

        <div class="activity-item">
          🟢 New Project Created
        </div>

        <div class="activity-item">
          🟡 Task Updated
        </div>

        <div class="activity-item">
          🔵 Team Member Added
        </div>

        <div class="activity-item">
          🟣 Project Completed
        </div>

      </div>

      <!-- TASKS -->
      <div class="panel">

        <div class="panel-header">

          <h2>Recent Tasks</h2>

          <button
            class="action-btn"
            (click)="openTaskModal()">
            + New Task
          </button>

        </div>

        <div
        class="task-item"
        *ngFor="let task of tasks">

        <div>
        <strong>✅ {{ task.title }}</strong>
        <p>{{ task.description }}</p>
        </div>

          <span class="badge active-status">
            {{ task.status }}
          </span>

          <button
            class="edit-btn"
            (click)="editTask(task)">
            ✏️
          </button>

          <button
            class="delete-btn"
            (click)="deleteTask(task.id)">
            🗑️
          </button>

        </div>

      </div>

    </section>

  </main>

</div>
