.sidebar{
  width:260px;
  background:#0f172a;
  color:white;
  padding:25px;
}

.logo{
  font-size:24px;
  font-weight:bold;
  margin-bottom:40px;
}

.logo span{
  color:#38bdf8;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.menu a{
  text-decoration:none;
  color:#cbd5e1;
  padding:12px;
  border-radius:10px;
  cursor:pointer;
}

.menu a:hover{
  background:#1e293b;
}